*{box-sizing: border-box;}
/* div{border: 1px solid black;} */

#all{
    width: 1200px;
    margin: auto;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

#main{
    width: 75%;
    height: 800px;
    position: relative;
}

#main>div:nth-of-type(1){
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;

  margin-bottom: 20px;
  margin-left: 47px;

  width: 780px;

  border: 3px solid lightcoral;
  border-radius: 20px;
}

/* -------------------------------------------------- */

#main>div:nth-of-type(3){
  margin-top: 90px;
}
.eachOne{
  display: flex;
  margin-left: 50px;
  margin-bottom: 20px;
  height: 160px;

  width: 780px;

  border-bottom: 2px dashed lightpink;
  border-top: 2px dashed lightpink;
}

.boardLike{
  font-size: 50px;
  color: pink;
  cursor: pointer;
}

.titleName{
  font-size: 40px;
  color: rgb(233, 92, 115);
  cursor: pointer;
}

.thumbnail{
  max-width: 250px;
  max-height: 158px;
}

.eachOne>div:nth-of-type(1){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
}
.eachOne>div:nth-of-type(2){
  width: 250px;
}

.likeContent{
  cursor: pointer;
  width: 400px;
}

.likeContent>div:nth-child(1){
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;

  margin-top: 10px;
}

.likeContent span{
  font-size: 18px;
}

.likeContent span:hover{
  text-decoration: underline;
}


/* select문 */

#main>div:nth-of-type(2){
    /* display: flex;
    margin-right: 0; */
    float: right;
    margin-right: 30px;

    height: 50px;
}

/* .cont-select {
    
} */

.list-member{
    background-color: white;
}
.cont-select {
    position: relative;
    width: 200px;
  }
  
  .btn-select {
    margin-top: 5px;
    width: 80%;
    padding: 15px 20px 13px 14px;
    font-size: 15px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #ee8bd8;
    /* border: 1px solid #C4C4C4; */
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
  }
  
  .btn-select:hover,
  .btn-select:focus {
    border: 1px solid #9B51E0;
    outline: 3px solid #F8E4FF;
  }
  
  .list-member {
    list-style-type : none;
    display: none;
    position: absolute;
    width: 80%;
    top: 35px;
    left: 0;
    padding: 0;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  
  .btn-select.on+.list-member {
    display: block;
  }
  
  .list-member li {
    width: 100%;
    height: 40px;
    padding: 5px 8px;
    box-sizing: border-box;

}

.list-member li button {
    /* z-index: 100; */
    font-weight: bold;
    width: 100%;
    padding: 7px 10px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .list-member li button:hover,
  .list-member li button:focus {
    background-color: #F8E4FF;
  }



/* 페이지네이션 */
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: #c557db;
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
}

.pagination-area{
    position: absolute;
    left: 43%;
    bottom: 5px;
}

#none{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}