@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/src/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}

.container {
    width: 75%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile {
    display: flex;

    text-align: center;
    margin-bottom: 20px;
    position: relative; /* 이미지와 버튼을 상대적으로 배치 */
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.image-section{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-section > div{
    display: flex;
    align-items: center;
}

.image-section  input{
    display: none;
}

.input-row{

    /* justify-content: flex-start; */
    display:flex;
    flex-grow: inherit;
}

#changeButton {
    width: 100px;
    height: 50px;
    cursor: pointer;

    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.borderno{
    border-width: 0;
}

#chooseButton{
    width: 100px;
    height: 50px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    margin-right: 10px;

    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

label {
    margin: 10px 0;
    font-weight: bold;
    display: block;
}

input, textarea {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#searchButton{
    width: 100px;
    height: 38px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#searchButton:hover {
    color: white;
    background-color: #0056b3;
    cursor: pointer;
}

button+button{
    margin-left: 0;
}

.info-section{
    flex-basis: 50%;
}
.info-section > table{
    width: 100%;
}

.info-section input{
    width: 100%;
}

