/* myPage 사이드 메뉴 전체 크기 */
.myPage-container{
    width: 1200px;
    height: 850px;
    margin: 30px auto;
    display: flex;

}

/* 사이드바, 마이페이지 메인 넓이 정하기 */

.j-myPage-sidemenu{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.myPage-main{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/* 마이페이지 작은 메뉴창 스타일 */
.j-myPage-content-header{
    width: 95%;
    height: 42%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 1px 5px 2px skyblue; 

    border-radius: 22px;
    padding-top: 10px;
}

.result {
    height: 50px;
}

/* 마이페이지 글씨 부분 스타일 */
.j-myPage-content-header > div:first-child{
    width: 100%;
    height: 22%;

    margin-top: -16px;


    padding-left: 40px;

    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 28px;
    color: black;


    border-radius: 0%;


}

/* 프로필 이미지 부분 */
.j-myPage-content-header > div:nth-child(2){
    width: 87%;
    height: 13%;

    display: flex;
    justify-content: center;

}

.myPageSideImg{
    width: 190px;
    height: 190px;
    border-radius: 30%;

    display: flex;
    margin-top: -10px;
}

/* 구독 관련 부분 스타일 */
.j-myPage-sub-content{
    width: 100%;
    height: 35%;
    margin-top: -20px;
}
/* 구독 현황 스타일 */
.j-myPage-sub-content > div:first-child{
    width: 100%;
    height: 20%;
    display: flex;

    margin-top: 30px;

    justify-content: center;

    font-size: 15px;
}

.j-myPage-sub-content > div:first-child > span:last-of-type{
    color: rgb(82, 82, 255);
    font-weight: bold;

    cursor: pointer;

    margin-left: 10px;
}


/* 마일리지 */
.j-myPage-sub-content > div:nth-child(2){
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;
    color: gray;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 25px;
}



.j-myPage-sub-content i{
    margin-top: 10px;
    margin-right: 15px;
    font-size: 34px;
    color: rgba(210, 228, 47, 0.767);
}

/* 마이페이지 사이드메뉴 */
.j-myPage-member-list{
    display: flex;
    width: 95%;
    height: 60%;

    box-shadow: 0px 2px 6px 3px skyblue; 

    margin-top: 7px;

    border-radius: 30px;

}

.j-myPage-sidemenu-list{
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: start;
    align-items: start;
}

.j-myPage-member-list a{

    text-decoration: 0;
    color: black;

    font-size: 23px;
}
.j-myPage-sidemenu-list > li{

    width: 100%;

    font-size: 20px;

    padding-bottom: 14px;
    padding-top: 38px;

    cursor: pointer;

    color: rgb(82, 191, 235);
}

.j-myPage-sidemenu-list a:hover{
    color: skyblue;
    font-weight: lighter;
}

.j-memberNicknameIn{
    font-size: 15px;

    color: rgb(82, 82, 255);
}