@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/moneymate/src/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}

.myPage-notice-main{
    display: flex;
    margin: auto;
    flex-direction: column;
    font-size: 20px;
}



.sub{
    text-align: center;
    margin-top: 50px;   
}

#textarea{
    width: 500px;
    height: 300px;
    resize: none;
}

.textarea1{
    margin: 30px auto;
    
}

.check{
    text-align: center;
    margin-bottom: 30px;
}

.btn{
    margin: 30px 150px;
    display: flex;
    justify-content: space-between;
}

.btn > button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(12, 64, 202);
    border-radius: 5%;
    border: 0;
}

.inputPw{
    margin-bottom: 20px;
    text-align: center;
}
.inputPw > input{
    height: 30px;
    width: 250px;
    font-size: 15px;
    padding-left: 10px;
    border: 0;
    border-bottom: 3px solid #ddd;
    outline: none;
}

input:focus{
    border-bottom: 3px solid grey;
}