@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body{
    background-image: url("../../images/background3.png");

}

#main { 
    /* background-color : skyblue; */
    width: 1200px;
    height: 800px;
    margin: 0;
    padding: 0;

    margin: auto;
    position: relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#title{
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;

    background-image: linear-gradient(to right, rgb(10, 10, 214), rgb(216, 43, 179));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    /* color: white; */
    font-family: 'TheJamsil5Bold';
    
}

table{
    padding-left: 25px;
}

#img1{  /* 도장 */
    position: absolute;
    margin-bottom: 10px;
    top: 70px;
    left: 860px;
}
#img2{ /* 달력 */
    position: absolute;
    margin-bottom: 10px;
    top: 50px;
    left: 200px;
}
#img3{ /* 오른쪽 코인 */
    position: absolute;
    margin-bottom: 10px;
    top: 300px;
    left: 80px;
}
#img4{
    position: absolute;
    margin-bottom: 10px;
    top: 600px;
    left: 900px;
}
#img5{
    position: absolute;
    margin-bottom: 10px;
    top: 400px;
    left: 1000px;
}

#stampImg{
    width: 150px;
}
#calendarImg{
    width: 150px;
    transform: rotate(340deg);
}
#coin1{
    width: 150px;
    transform: rotate(40deg);
}
#coin2{
    width: 150px;
    transform: rotate(340deg);
}
#coin3{
    width: 150px;
    transform: rotate(340deg);
}

#container {
    background-color : white;
    height: auto;
    width: 640px;
    margin: 0px;
    padding: 20px;
    margin: 0 auto;
    border-radius:5px;
    box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);

}

td {
    width: 80px;
    height: 80px;
}

.Calendar {
    text-align: center;
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;     
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}        

.pastDay {
    color: lightgray;
}

.today {
    background-color: #F5D042;            
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}
.futureDay:hover{
    background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #0A174E;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* 모달 */
/* #modal-container{
    width: 100%;
    height: 100%;

    top: 0;
    bottom: 0;

    background-color: pink;
} */


#modal{
    
    position: absolute;

    top: 35%;
    left: 27%;
    
    border: 5px solid skyblue;
    border-radius: 10px;


    width: 500px;
    height: 300px;

    background-color: #eee;

    display: none;

    box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 10px #0fa, 0 0 10px #0fa, 0 0 10px #0fa, 0 0 10px #0fa;

}



#modal>div:nth-of-type(1){
    height: 250px;

    display: flex;
    justify-content: center;
    line-height: 280px;
    font-size: 30px;
    font-weight: bold;
}

#modal>div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #mileBtn{
    width: 100px;
    height: 35px;
    border: 0;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;

    border-radius: 10px;
    cursor: pointer;

    background-color: rgb(102, 142, 250);
} */

/* 모달 버튼 */
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;

    font-size: 15px;

    letter-spacing: 2px;
  }
  
  .w-btn:hover {
    letter-spacing: 4px;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .w-btn:active {
    transform: scale(1.1);
  }
  
  .w-btn-gra1 {
    background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
    color: white;
  }
  
  .w-btn-gra-anim {
    background-size: 400% 400%;
    animation: gradient1 5s ease infinite;
  }
  
  @keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }