@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/moneymate/src/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}


.container{
    display: flex;
    width: 1200px;
    margin: auto;
}


.side-bar{
    width: 25%;
    border: 1px solid black;
}

.main{
    width: 75%;
    margin-left: 30px;
}

.result{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-left: none;
    border-right: none;
}

.thead{
    background-color: #ddd;
    border-color: #ddd;
    height: 40px;
}

.tbody > tr {
    height: 40px;
}



a{
    text-decoration: none;
    color: black;
}



button{
    cursor: pointer;
    border: 0;
    border-radius: 10%;
    background-color: skyblue;
    color: white;
    
}

button:hover{
    color: black;
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

#btn1{
    cursor: pointer;
}

.searchResult{
    margin-left: 40px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight: bold;
}

.current{
    font-weight: bold;
     background-color: rgb(12,64,202);
     border-radius: 50%;
     color: white !important;
     letter-spacing: 0 !important;
}

.searchArea{
    text-align: center;
}

.searchArea input{
    height: 28px;
    width: 150px;
    margin-right: 10px;
}


#search{
    height: 30px;
    background-color: rgb(12, 64, 202); 
}
