.footer{
    color: #929292;
    height: 125px;
    margin-left: 80px;
    font-size: 18px;
    font-weight: bold;
    
    
}

.Fmain{
    width: 1200px;
    height: 355px;
   
}
.Fcontainer{
    width: 1900px;
    height: 355px;
}

.Fcontainer1{
    width: 100%;
    display: flex;
    /* margin-left: 80px; */

}
.Fcontainer1-1{   
    width: 100%; 
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.Fcontainer2{
    width: 100%;
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* 빈공간 */
.moon{ 
    height: 135px;
}

.moon2{
    height: 100px;
    display: flex;
    justify-content: end;
    
}

.moon2>img{    
    object-fit: cover;
    /* margin-right: 100px; */
}