main{
    border: 1px solid black;
}

.container{
    width: 1900px;
    height: 6000px;    
    
}


/* 1쪽 */
.container1{
    width: 100%;
    height: 1000px;
    display: flex;
    border: 1px solid black;
    
}

#container2{
    width: 60%;
    height: 100%;

    

}
#container3{
    width: 40%;
    height: 100%;
    
}


#item1{
    width: 100%;
    height: 300px;    
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    justify-content: end;
    line-height: 70%;
}



#item2{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}

.button{
    width: 200px;
    height: 80px;
    border-radius: 15px;
    background-color:#016cf9;
    color: white;
    font-size: 30px;
    font-weight: bold;   
     
}

.button:hover {
    animation-name: fadeIn;
    animation-duration: 3s;
    color: white;
    background: rgb(155, 227, 30);
    cursor: pointer;
}

button + button{
    margin-left:70px;
}

#item3{
    width: 100%;
    height: 20%;
    
}

#container3{
    font-size: 50px;
}


/* 2쪽 */
.container1-1{
    width: 100%;
    height: 1000px;    
    border: 1px solid black;
    
}
/* 맨위 */
.top{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
/* 중간영역 */
.middle{
    width: 100%;
    height: 800px;
    display: flex;
    border: 1px solid black;
    
}

/* 사진 하나씩 들어갈 곳 */
#left{
    width: 35%;
    border: 1px solid black;
}
#middle{
    width: 30%;
    border: 1px solid black;
}
#right{
    width: 35%;
    border: 1px solid black;

}


/* 3쪽 */
.container1-2{
    
}






