

.signUp-content{
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.input-area{
    border-bottom: 3px solid #ddd;
}


input{
    border: 0;
    outline: none;
    width: 80%;

}

button{
    width: 15%;
    margin-left: 20px;
}


#signUpBtn{
    margin: 50px auto;
    
}

#signUpFrm label{
    margin-top: 50px;
}


