@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/moneymate/src/main/webapp/resources/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}


.columnMain{
    display: flex;
    width: 1200px;
    margin: auto;
}

/* 사이드바 */
.side{
    display: flex;
    width: 25%;
    border: 1px solid black;
}

/* 메인 */
.main{
    display: flex;
    flex-direction: column;
    width: 75%;
}

#Swrite{
    width: 100px;
    height: 40px;

    font-weight: bold;

    margin-left: 25px;
}

/* 칼럼 설명란 */
.explain{
    display: flex;
    height: 700px;
}

/* 사진 */
.explain > div:nth-of-type(1){
    display: flex;
    flex-basis: 60%;
    margin-bottom: 30px;
}

.explain img{
    width: 80%;
    height: 80%;
    margin: 0 54px 67px 54px;
    border-radius: 15px;
}

/* 설명 */
.explain > div:nth-of-type(2){
    display: flex;
    flex-basis: 40%;
}

/* 설명 - 글 */
.ex-title{
    display: flex;
    flex-direction: column;
}

/* 제목 */
.ex-title > div:nth-of-type(1){
    display: flex;
    
    flex-basis: 10%;
    font-size: 30px;
    font-weight: bold;
    justify-content: start;
    align-items: center;
}
/* 글 */
.ex-title > div:nth-of-type(2){
    display: flex;
    flex-basis: 90%;
    line-height: 28px;
    font-size: 15px;
    margin: 0 50px 0 0;
}

/* 컬럼게시판 */
.title{
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    padding-left: 80px;
    font-size: 25px;
    /* border-bottom: 1px solid rgb(12,64,202); */
    background-color: rgb(12,64,202);
    color: white;
}

.column-area{
    display: flex;
    height: 300px;
}


/* 1번째줄 첫번째 */
.column-area > div:nth-of-type(1){
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #ccc;
}
/* 1번째줄 두번째 */
.column-area > div:nth-of-type(2){
    display: flex;
    flex-basis: 70%;

    border-bottom: 1px solid #ccc;
}

/* 칼럼 사진 영역 */
.column-area img{
    width: 250px;
    height: 250px;
    border-radius: 10px;

    border: 1px solid #ccc;
}

/* 제목, 날짜 영역 */
.title-area{
    display: flex;
    flex-direction: column;


}

/* 제목 a태그 */
.title-area a{
   text-decoration: none;
   color: black;


}

/* 제목 */
.title-area > div:nth-of-type(1){
    display: flex;
    flex-basis: 70%;

    padding: 25px 0 0 40px;

    font-size: 25px;
    
}

/* 날짜 */
.title-area > div:nth-of-type(2){
    display: flex;
    flex-basis: 30%;


    justify-content: end;
    align-items: center;
}





#load{
    width: 200px;
    height: 40px;

    font-size: 20px;
    border-radius: 10px;
    border: 0;

    margin-left: 10px;
    margin-top: 10px;

    cursor: pointer;
}

footer{
    height: 200px;
}