@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/resources/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.headback {
    padding: 50px 0 150px 0;
}



.menu a {
    font-weight: 400;
    /**/
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }

  .menu >li{
    list-style: none;
  }

.headA:hover, .headA:focus{
    outline: none;
}

.headLi{
    
    float: left;

    width: 130px;
    margin-top: 80px;

}
.headLi> a{
    font-size: 20px;

    text-align: center;
    font-weight: 1000;
    color: black;
}


  
/*
---------------------------------------
hover effect 25
---------------------------------------
*/

.SMN_effect-25 a {
    letter-spacing: 0;
    transition: 0.35s;
  }
  
  .SMN_effect-25 a:hover, .SMN_effect-25 a:active {
    letter-spacing: 5px;
    transition: 0.35s;
  }
  
  .SMN_effect-25 a:after {
    bottom: -10px;
  }
  
  .SMN_effect-25 a:before {
    top: -10px;
  }
  
  .SMN_effect-25 a:after, .SMN_effect-25 a:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }
  
  .SMN_effect-25 a:hover:after, .SMN_effect-25 a:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
  }
  
  .SMN_effect-25 a:hover:before {
    width: 100%;
  }



.headMain{
    width: 1900px;
    background-color: white;
    margin: auto;
}

.head{
    display: flex;
    height: 200px;

    position: relative;
}

/* 로고 이미지 */
.head > div:nth-of-type(1){
    color: red;
    display: flex;
    flex-basis: 20%;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* 헤더 nav, 프로필 */
.head > div:nth-of-type(2){
    display: flex;
    flex-basis: 80%;
    justify-content: end;

}

/* 헤더 nav */
.head-board > div:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    padding: 50px;
}

/* 헤더 nav 글 */
.nav > a{
    padding: 20px;
    text-decoration: none;
    color: black;
}
/* 마이페이지 마진 */
.nav > a:nth-of-type(5){
    margin-right: 50px;
}

/* 알람 종 */
.fa-solid{
    cursor: pointer;

    margin-right: 5px;
}

/* 알람 숫자 */
#alarm-number{
    position: absolute;


    text-align: center;
    background-color: red;
    color: white;

    width: 30px;
    height: 28px;

    border-radius: 50%;

}

#alarm-btn{
    margin-left: 50px;
}

#alarm-btn:hover{
    transform: scale(1.2);
    transition-duration: 0.1s;
}

#alarmImg-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 알림함 로고 */
.alarm-img{
    width: 30%;

}

/* 알림함 모달 바깥부분 */
#alarm-page{
    display: none;
    flex-direction: column;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;


    z-index: 50;


    background: rgba(0, 0, 0, 0.5);
}
/* 모달창 */
#modal{

    display: flex;
    flex-direction: column;

    width: 40%;
    height: 80%;

    overflow-y: scroll;



    border-radius: 10px;


    background-color: #fff

}

#modal::-webkit-scrollbar {
    width: 10px;
  }
#modal::-webkit-scrollbar-thumb {
    background-color: rgb(61, 61, 173);
    border-radius: 10px;
  }


/* 알림 head */
#alarm-head{
    font-size: 30px;
    padding-left: 40px;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

/* 알람 a태그 */
#alarm-page a{
    text-decoration: none;
    color: black;
}

/* 알림 프로필 */
.alarm-profile{
    width: 70px;
    height: 90%;

    margin-right: 10px;

    border-radius: 50%;

}


/* 알림 내용 */
.alarm-check{
    font-size: 21px;
    padding: 0px 0 0px 40px;

    display: flex;
    align-items: center;

}




/* 알람 시간 */
.alarm-date{
    font-size: 15px;

    padding: 10px 0 20px 40px;
}



/* 닫기 버튼 */
#close-btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0;

    font-size: 22px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0px 20px 10px 0;

    cursor: pointer;
}


/* 프로필 */
.head-board > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex-basis: 20%;

}

/* 로그인 */
.login > div:nth-of-type(1){
    display: flex;
    flex-basis: 75%;
    margin: auto;

}
/* 로그인 자물쇠 */
.login img{
    width: 80px;
    height: 80px;
    margin: auto;
}

/* LOGIN */
.login > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    
}
/* LOGIN, 회원가입 */
.login a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

