<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CAdminMapper">



	
	
	<resultMap type="CReport" id="report_rm">
		<id property="reportNo" column="REPORT_NO" />

		<result property="reportedNo" column="REPORTED_NO" />
		<result property="reportContent" column="REPORT_CONTENT" />
		<result property="boardNo" column="BC_NO" />
		<result property="reportCode" column="REPORT_CODE" />
		<result property="reportCategory" column="CATEGORY" />
		<result property="reportDate" column="REPORT_DATE" />
		<result property="reportState" column="REPORT_ST" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberId" column="MEMBER_EMAIL" />
		<result property="badContent" column="BOARD_CONTENT" />
	</resultMap>
	
	
	<resultMap type="CPay" id="pay_rm">
		<id property="calculateNo" column="CALCULATE_NO" />

		<result property="price" column="PRICE" />
		<result property="useMileage" column="USE_MILE" />
		<result property="memberNo" column="MEMBER_NO" />
		
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberId" column="MEMBER_EMAIL" />
		<result property="subscribeStart" column="SUBSCRIBE_START" />
		<result property="subscribeEnd" column="SUBSCRIBE_END" />
	</resultMap>
	
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT
		WHERE REPORT_ST = 'N'
		AND REPORT_CODE = 1
	</select>
	
	
	<select id="selectReportList" resultMap="report_rm">
		SELECT REPORTED_NO, MEMBER_NICKNAME,MEMBER_EMAIL, BOARD_CONTENT, REPORT_CONTENT, REPORT_DATE, BC_NO, CATEGORY
		FROM "REPORT" 
		JOIN MEMBER M ON (M.MEMBER_NO = REPORTED_NO)
		JOIN "BOARD" B ON (B.MEMBER_NO = REPORTED_NO)
		WHERE BC_NO = BOARD_NO
		AND REPORT_ST = 'N'
		AND REPORT_CODE = 1
	</select>
	
	<update id="reportConfirm">
		UPDATE "REPORT" SET 
		REPORT_ST = 'Y'
		WHERE REPORTED_NO = #{memberNo}
		AND BC_NO = #{boardNo}
		AND REPORT_CODE = 1
	</update>
	
	
	<select id="reportDupCheck" resultType="_int">
		SELECT COUNT(*) FROM "REPORT"
		WHERE REPORT_NO = #{memberNo}
		AND BC_NO = #{boardNo}
		AND REPORT_CODE = 1
	</select>
	
	
	
	<select id="getPayCount" resultType="_int">
		SELECT COUNT(*) FROM CALCULATE
	</select>
	
	
	
	<select id="selectPayList" resultMap="pay_rm">
		SELECT C.MEMBER_NO, M.MEMBER_NICKNAME, M.MEMBER_EMAIL, S.SUBSCRIBE_START, S.SUBSCRIBE_END, C.USE_MILE
		FROM CALCULATE C
		JOIN "MEMBER" M ON(M.MEMBER_NO = C.MEMBER_NO)
		JOIN "SUBSCRIBE" S ON(S.MEMBER_NO = C.MEMBER_NO)
		WHERE C.MEMBER_NO = S.MEMBER_NO
	</select>
	
	
	
</mapper>
