<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="HAccountMapper">

	<resultMap type="HAccount" id="account_rm">
		<id property="accountNo" column="ACNT_NO"/>
		<result property="accountName" column="ACNT_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEmails" column="MEMBER_EMAILS"/>
		<result property="authKey" column="CODE"/>
	</resultMap>
	
	<!-- 개인 가계부 조회 -->
	<select id="pList" resultMap="account_rm">
		SELECT ACNT_NO, ACNT_NAME 
		FROM ACCOUNTBOOK
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY ACNT_NO
	</select>
	
	<!-- 그룹 가계부 조회 -->
	<select id="gList" resultMap="account_rm">
		SELECT ACNT_NO, ACNT_NAME, (SELECT LISTAGG(MEMBER_EMAIL, ',,') WITHIN GROUP (ORDER BY MEMBER_EMAIL)  
		FROM ACCOUNT_GROUP        
		WHERE 1=1
		AND ACNT_NO IN (SELECT ACNT_NO 
		                FROM ACCOUNT_GROUP
		                WHERE MEMBER_EMAIL = #{memberEmail}
		                )
		AND GROUP_FL = 'Y') MEMBER_EMAILS
        FROM ACCOUNT_GROUP
        JOIN ACCOUNTBOOK USING (ACNT_NO)
        WHERE MEMBER_EMAIL = #{memberEmail}
		GROUP BY ACNT_NO, ACNT_NAME
		ORDER BY ACNT_NO
	</select>
	
	<!-- 이메일 중복 검사 -->
	<select id="dupEmail" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 개인 가계부 생성 -->
	<insert id="pAccount">
		INSERT INTO ACCOUNTBOOK VALUES(SEQ_ACNT_NO.NEXTVAL, #{memberNo},  #{accountName}, 0 , NULL, NULL)
	</insert>

	<!-- (그룹) 가계부 테이블 insert -->
	<insert id="insertGroup" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="accountNo">
			SELECT SEQ_ACNT_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO ACCOUNTBOOK VALUES(#{accountNo},#{memberNo},  #{accountName} , 0 , NULL, NULL)
	</insert>
	
	<!-- 그룹 테이블 insert -->
	<insert id="group">
		INSERT INTO ACCOUNT_GROUP VALUES(#{memberEmail}, DEFAULT, #{authKey}, #{accountNo})
	</insert>
	
	<!-- 가계부 초대 수락 -->
	<update id="inviteAccept">
		UPDATE ACCOUNT_GROUP SET GROUP_FL = 'Y' WHERE CODE = #{key}
	</update>
	
	
</mapper>
