<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="HAccountMapper">

	<resultMap type="HAccount" id="account_rm">
		<id property="accountNo" column="ACNT_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberEmails" column="MEMBER_EMAILS"/>
	</resultMap>
	
	<!-- 개인 가계부 조회 -->
	<select id="pList" resultMap="account_rm">
		SELECT ACNT_NO 
		FROM ACCOUNT_GROUP 
		WHERE MEMBER_EMAIL =#{memberEmail}
		AND GROUP_FL = 'Y'
	</select>
	
	<!-- 그룹 가계부 조회 -->
	<select id="gList" resultMap="account_rm">
		SELECT ACNT_NO, LISTAGG(MEMBER_EMAIL, ',,') WITHIN GROUP (ORDER BY MEMBER_EMAIL) AS MEMBER_EMAILS
		FROM ACCOUNT_GROUP
		WHERE 1=1
		AND ACNT_NO IN (SELECT ACNT_NO 
		                FROM ACCOUNT_GROUP 
		                WHERE MEMBER_EMAIL =#{memberEmail}
		                AND GROUP_FL = 'Y')
		AND GROUP_FL = 'Y'
		GROUP BY ACNT_NO
	</select>
	
	
	

	
	
</mapper>
