<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="HBoardMapper">

	<resultMap type="Member" id="member_rm">

		<id property="memberNo" column="MEMBER_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberAddress" column="MEMBER_ADDRESS" />
		<result property="secessionFlag" column="SECESSION_FL" />
		<result property="authority" column="AUTHORITY" />
		<result property="profileImage" column="PROFILE" />
		

	</resultMap>
	
	
	<resultMap type="CComment" id="comment_rm">
		<id property="commentNo" column="COMMENT_NO" />
		<result property="commentContent" column="COMMENT_CONTENT" />
		<result property="commentCreateDate" column="COMMENT_DT" />
		<result property="boardNo" column="BOARD_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="commentDeleteFlag" column="COMMENT_ST" />
		<result property="parentNo" column="PARENT_NO" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="profileImage" column="PROFILE" />
		
		<result property="likeCount" column="LIKE_COUNT" />
		<result property="commentImage" column="IMG" />
		<result property="likeCheck" column="LIKE_CHECK" />
	</resultMap>

	<!-- 출첵 이전 날짜 조회 -->
	<select id="calendarList" resultType="string">
		SELECT TO_CHAR(TO_DATE( CALENDAR_DT, 'YYYY-MM-DD HH24:MI:SS'), 'YY-MM-DD')
		AS CALENDAR_DT
		FROM EVENT_CALENDAR
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<insert id="calendarToday">
		INSERT INTO EVENT_CALENDAR VALUES( ${memberNo} , SYSDATE )
	</insert>
	
	<!-- 출첵 시 마일 지급 -->
	<update id="updateMile">
		UPDATE MEMBER SET MILEAGE = MILEAGE + 5 WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 가계부 이벤트 댓글 목록 조회 --> <!-- 회원용 -->
	<select id="commentList" resultMap="comment_rm">
		SELECT MEMBER_NO, COMMENT_NO, PROFILE, MEMBER_NICKNAME, COMMENT_DT, IMG_PATH || IMG_RENAME IMG, COMMENT_CONTENT,
	    	(SELECT COUNT(*) FROM "LIKE" WHERE BR_NO = "COMMENT".COMMENT_NO AND LIKE_CODE = 2) LIKE_COUNT,
	    	(SELECT COUNT(*) FROM "LIKE"
		    WHERE BR_NO = "COMMENT".COMMENT_NO
		    AND LIKE_CODE = 2
		    AND MEMBER_NO = #{memberNo}) LIKE_CHECK
		FROM "COMMENT"
		JOIN MEMBER USING(MEMBER_NO)
		JOIN IMAGE ON ("COMMENT".COMMENT_NO IN IMAGE.BR_NO)
		WHERE IMG_CD = 2
		AND COMMENT_ST = 'N'
	</select>
	
	<!-- 가계부 이벤트 댓글 목록 조회(비회원) -->
	<select id="NcommentList" resultMap="comment_rm">
		SELECT MEMBER_NO, COMMENT_NO, PROFILE, MEMBER_NICKNAME, COMMENT_DT, IMG_PATH || IMG_RENAME IMG, COMMENT_CONTENT,
	    	(SELECT COUNT(*) FROM "LIKE" WHERE BR_NO = "COMMENT".COMMENT_NO AND LIKE_CODE = 2) LIKE_COUNT, 0 LIKE_CHECK
		FROM "COMMENT"
		JOIN MEMBER USING(MEMBER_NO)
		JOIN IMAGE ON ("COMMENT".COMMENT_NO IN IMAGE.BR_NO)
		WHERE IMG_CD = 2
		AND COMMENT_ST = 'N'
	</select>
	
	<!-- 댓글 글 관련 삽입 -->
	<insert id="commentInsert" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="commentNo">
	         SELECT SEQ_COMMENT_NO.NEXTVAL FROM DUAL
	    </selectKey>
	
		INSERT INTO "COMMENT" VALUES(#{commentNo}, #{commentContent}, 
		SYSDATE, DEFAULT, #{memberNo}, 0)
	</insert>
	
	<!-- 댓글 이미지 삽입 -->
	<insert id="insertCommentImage">
		INSERT INTO "IMAGE" VALUES(#{brNo}, 2, #{imagePath}, #{imageReName}, #{imageOriginal}, 0)
	</insert>
	
	<!-- 좋아요 삽입 -->
	<insert id="insertLike">
		INSERT INTO "LIKE" VALUES (#{memberNo}, #{commentNo}, 2)
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteLike">
		DELETE FROM "LIKE" WHERE BR_NO = #{commentNo} AND MEMBER_NO = #{memberNo} AND LIKE_CODE = 2
	</delete>
	
	<!-- 좋아요 개수 세기 -->
	<select id="countLike" resultType="_int">
		SELECT COUNT(*) FROM "LIKE" WHERE BR_NO = #{commentNo} AND LIKE_CODE = 2
	</select>
	
	<!-- 댓글 내용 삽입 -->
	<update id="commentUpdate">
		UPDATE "COMMENT" SET COMMENT_CONTENT = #{commentContent} 
		WHERE COMMENT_NO = #{commentNo}
	</update>
	
	<!-- 댓글 이미지 수정 -->
	<update id="updateCommentImage">
		UPDATE IMAGE SET IMG_RENAME = #{imageReName}
		WHERE BR_NO = #{brNo}
		AND IMG_CD = 2
	</update>
	
	<!-- 댓글 삭제 -->
	<update id="deleteComment">
		UPDATE "COMMENT" SET COMMENT_ST = 'Y' 
		WHERE COMMENT_NO = #{no}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="updateEventRead">
		UPDATE BOARD SET READ_COUNT = READ_COUNT + 1 WHERE BOARD_NO = 0
	</update>
	
	<!-- 조회수 조회 -->
	<select id="eventReadCount" resultType="_int">
		SELECT READ_COUNT FROM BOARD WHERE BOARD_NO = 0
	</select>
	
	<!-- db 이벤트 사진 목록 조회 -->
	<select id="selectDbEvent" resultType="string">
		SELECT IMG_RENAME FROM IMAGE
	</select>
	
</mapper>
