<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="HsubscribeMapper">


	<resultMap type="Member" id="member_rm">

		<id property="memberNo" column="MEMBER_NO" />

		<!-- DB의 일반 컬럼들 -->
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberAddress" column="MEMBER_ADDRESS" />
		<result property="secessionFlag" column="SECESSION_FL" />
		<result property="authority" column="AUTHORITY" />
		<result property="profileImage" column="PROFILE" />

	</resultMap>

	<!-- 마이바티스에 추가해주기 ^^ -->
	<resultMap
		type="Subscribe" id="subscribe_rm">
		<id property="subscribeNo" column="SUBSCRIBE_NO" />

		<result property="subscribeNo" column="SUBSCRIBE_NO" />
		<result property="subscribeStart" column="SUBSCRIBE_START" />
		<result property="subscribeEnd" column="SUBSCRIBE_END" />
		<result property="subscribeLevel" column="SUBSCRIBE_LEVEL" />
		<result property="memberNo" column="MEMBER_NO" />

		<result property="calculateNo" column="CALCULATE_NO" />
		<result property="calculateWay" column="CALCULATE_WAY" />
		<result property="calculateFl" column="CALCULATE_FL" />
		<result property="price" column="PRICE" />
	</resultMap>


	<!-- 마일리지 조회 -->
	<select id="mile" resultType="_int">
		SELECT MILEAGE FROM MEMBER WHERE MEMBER_NO = ${memberNo}
	</select>

	<!-- kg 결제 시 구독 정보 insert -->
	<insert id="subscribeKg" useGeneratedKeys="true">

		<selectKey order="BEFORE" resultType="_int"
			keyProperty="subscribeNo">
			SELECT SEQ_SUBSCRIBE_NO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO SUBSCRIBE VALUES (#{subscribeNo}
		, SYSDATE, 
		
		<choose>
		
			<when test="subscribeLevel == 1">
				SYSDATE + INTERVAL '1' MONTH
			</when>
			
			<when test="subscribeLevel == 2">
				SYSDATE + INTERVAL '6' MONTH
			</when>
			
			<when test="subscribeLevel == 3">
				SYSDATE + INTERVAL '1' YEAR
			</when>
		
		</choose>
		
		, #{subscribeLevel},
		#{memberNo})
	</insert>
	
	<!-- 결제 시 마일리지 차감 -->
	<update id="useMile">
		UPDATE MEMBER SET MILEAGE = MILEAGE - ${useMile}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- kg 결제 시 결제 정보 insert -->
	<insert id="calculateKg" useGeneratedKeys="true">

		<selectKey order="BEFORE" resultType="_int"
			keyProperty="calculateNo">
			SELECT SEQ_CALCULATE_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "CALCULATE" VALUES(#{calculateNo}, #{price},
		 #{useMile}, #{memberNo})
	</insert>
	
	<!-- 결제 완료 페이지 -->
	<select id="subscribeEnd" resultMap="subscribe_rm">
		SELECT SUBSCRIBE_START, SUBSCRIBE_END, PRICE FROM SUBSCRIBE
		JOIN CALCULATE USING (MEMBER_NO)
		WHERE SUBSCRIBE_NO = #{no}	
	</select>
	
	<!-- 0원 결제(결제테이블) -->
	<insert id="subsZero">
		<selectKey order="BEFORE" resultType="_int"
			keyProperty="calculateNo">
			SELECT SEQ_CALCULATE_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "CALCULATE" VALUES(#{calculateNo}, 0,
		 #{price}, #{memberNo})
	</insert>
	
	<!-- 0원 결제(구독 테이블) -->
	<insert id="subsZeroS">
		<selectKey order="BEFORE" resultType="_int"
			keyProperty="subscribeNo">
			SELECT SEQ_SUBSCRIBE_NO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO SUBSCRIBE VALUES (#{subscribeNo}
		, SYSDATE, 
		
		<choose>
		
			<when test="subscribeLevel == 1">
				SYSDATE + INTERVAL '1' MONTH
			</when>
			
			<when test="subscribeLevel == 2">
				SYSDATE + INTERVAL '6' MONTH
			</when>
			
			<when test="subscribeLevel == 3">
				SYSDATE + INTERVAL '1' YEAR
			</when>
		
		</choose>
		
		, #{subscribeLevel},
		#{memberNo})
	</insert>
	
	<!-- 마일리지 차감(0원) -->
	<update id="subsZeroM">
		UPDATE MEMBER SET MILEAGE = MILEAGE - ${price}
		WHERE MEMBER_NO = #{memberNo}
	</update>



</mapper>
