<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="JBoardMapper">

	<resultMap type="JBoard" id="board_rm">
	
			<id property="boardNo" column="BOARD_NO" />
	
			<result property="boardTitle" column="BOARD_TITLE" />
			<result property="boardContent" column="BOARD_CONTENT" />
			<result property="boardCreateDate" column="BOARD_DT" />
			<result property="boardUpdateDate" column="BOARD_UPDATE_DT" />
			<result property="readCount" column="READ_COUNT" />
			<result property="memberNickname" column="MEMBER_NICKNAME" />
	
			<result property="memberNo" column="MEMBER_NO" />
	</resultMap>
	
	<resultMap type="JAccount" id="account_rm">
	
			<id property="bigAccountNo" column="ACNT_NO" />
	
			<result property="targetMoney" column="TARGET_MN" />
			<result property="memberNo" column="MEMBER_NO" />
			<result property="startDate" column="TARGET_START" />
			<result property="endDate" column="TARGET_END" />
	</resultMap>
	
	<!-- 특정 게시판 조회하기 -->
	<select id="BselectBookmark" resultMap="board_rm">
		SELECT BOARD_TITLE, BOARD_CONTENT
		FROM BOARD
		WHERE MEMBER_NO = #{memberNo}
		AND BOARD_CODE = 4
		AND BOARD_ST = 'N'
	</select>
	
	


	<!-- 공지사항 목록 조회 -->
	<select id="selectBoardNotice" resultMap="board_rm">
		SELECT BOARD_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_DT,BOARD_UPDATE_DT,
        BOARD_ST, READ_COUNT,BOARD_CODE, MEMBER_NO
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CODE = 1
		AND BOARD_ST = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 공지사항 상세정보 조회 -->
	<select id="boardNoticeDetail" resultMap="board_rm">
		SELECT BOARD_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_DT,BOARD_UPDATE_DT,
        BOARD_ST, READ_COUNT,BOARD_CODE, MEMBER_NO
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_CODE = 1
		AND BOARD_ST = 'N'
	</select>
	
	<!-- 공지사항 다음 게시글 번호 얻어오기 -->
	<select id="nextBoardNo" resultType="_int">
		SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 공지사항 작성하기 -->
	<insert id="insertBoardNotice">
		INSERT INTO BOARD
		VALUES(#{boardNo}, #{boardTitle},#{boardContent},DEFAULT, DEFAULT, DEFAULT, DEFAULT, 1, 2)
	
	</insert>
	
	
	<!-- 가계부 다음 번호 얻어오기 -->
	<select id="nextAccountNo" resultType="_int">
		SELECT SEQ_DETAIL_NO.NEXTVAL FROM DUAL
	</select>
	
	<!-- 가계부 작성하기 -->
	<insert id="accountInertInout">
		 INSERT INTO ACCOUNT_DETAIL VALUES(SEQ_DETAIL_NO.NEXTVAL, #{relevantDate}, DEFAULT, #{account}, #{accountMoney}, 
		 #{memo}, #{paymentMethod}, DEFAULT, #{inoutName}, #{categoryName}, #{bigAccountNo})
	
	</insert>
	
	<!-- <insert id="accountInertInout" >
		
		INSERT ALL
      INTO ACCOUNTBOOK VALUES (SEQ_ACNT_NO.NEXTVAL, #{relevantDate}, DEFAULT, #{account}, #{accountMoney}, #{memo},
                    #{paymentMethod}, 1, #{memberNo}, DEFAULT)
               
      INTO CATEGORY VALUES (1, #{categoryName}, 1)
      INTO INOUTTRANS VALUES (1, #{inoutName})
    SELECT *
      FROM DUAL
	
	</insert> -->
	
	<!-- 가계부 상세조회 -->
	<select id="accountUse" resultType="_int">
		SELECT COALESCE(SUM(ACNT_MN), 0) AS TOTAL_EXPENSE
		FROM ACCOUNT_DETAIL
        JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE INOUT_NM = '지출'
		AND ACNT_NO = #{bigAccountNo}
	</select>
	
	<!-- 목표금액 설정 후 insert -->
	<insert id="targetInsert">
		INSERT INTO TARGET VALUES(#{targetMoney}, #{memberNo})
	</insert>
	
	<!-- 목표 금액 설정 -->
	<select id="selectTargetM">
		SELECT TARGET_MN FROM TARGET
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	
	
	<!-- 공지사항 목록 조회 -->
	<select id="selectBoardUpdate" resultMap="board_rm">
		SELECT BOARD_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_DT,BOARD_UPDATE_DT,
        BOARD_ST, READ_COUNT,BOARD_CODE, MEMBER_NO, MEMBER_NICKNAME
		FROM BOARD
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MEMBER_NO = 2
		AND BOARD_NO = #{boardNo}
		AND BOARD_CODE = 1
		AND BOARD_ST = 'N'
	</select>
	
	
	<!-- 공지사항 수정 -->
	<update id="boardNoticeUpdate">
	
		UPDATE BOARD
		SET BOARD_TITLE = #{boardTitle}
		, BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	
	</update>
	
	<!-- 공지 사항 삭제 -->
	<update id="JboardDelete">
		UPDATE BOARD SET BOARD_ST = 'Y'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 목표 금액 설정 -->
	<update id="targetInsert2">
		UPDATE ACCOUNTBOOK SET TARGET_MN = #{targetMoney},
		TARGET_START = #{startDate},
		TARGET_END = #{endDate}
		WHERE ACNT_NO = #{bigAccountNo}
	</update>
	
	
	<!-- 목표 금액, 시작, 종료 날짜 -->
	<select id="selectAccountBk" resultMap="account_rm">
		SELECT COALESCE(TARGET_MN, 0) AS TARGET_MN, COALESCE(TARGET_START, ' ') AS TARGET_START, COALESCE(TARGET_END, ' ') AS TARGET_END, ACNT_NO
		FROM ACCOUNTBOOK
		WHERE ACNT_NO = #{bigAccountNo}
	</select>
	
	<select id="selectAccountBk2" resultMap="account_rm">
		SELECT * FROM ACCOUNTBOOK
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateRead">
		UPDATE BOARD SET READ_COUNT = READ_COUNT + 1
		WHERE BOARD_NO = #{boardNo}
	
	</update>
	
	<!-- 구독 광고 -->
	<select id="selectSub" resultType="string">
	
		SELECT 
		<![CDATA[
		(CASE WHEN SUBSCRIBE_END >= SYSDATE THEN 'Y'
		    ELSE 'N'
		    END
		) AS SUBSCRIBE_END
		 ]]>
		FROM 
		SUBSCRIBE
		WHERE MEMBER_NO = #{memberNo}
	
	</select>
	


</mapper>
