<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="KboardMapper">

<resultMap type="Member" id="member_rm">
     
     	<id property="memberNo" column="MEMBER_NO" />
     	
     	<!-- DB의 일반 컬럼들 -->
     	<result property="memberEmail" column="MEMBER_EMAIL"/>
     	<result property="memberPw" column="MEMBER_PW"/>
     	<result property="memberName" column="MEMBER_NAME"/>
     	<result property="memberNickname" column="MEMBER_NICKNAME"/>
     	<result property="memberTel" column="MEMBER_TEL"/>
     	<result property="memberAddress" column="MEMBER_ADDRESS"/>
     	<result property="secessionFlag" column="SECESSION_FL"/>
     	<result property="authority" column="AUTHORITY"/>
     	<result property="profileImage" column="PROFILE"/>
     	
     </resultMap>
     
     <resultMap type="KBoard" id="board_rm">

		<id property="boardNo" column="BOARD_NO" />

		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardCode" column="BOARD_CODE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardCreateDate" column="BOARD_DT" />
		<result property="boardUpdateDate" column="BOARD_UPDATE_DT" />
		<result property="readCount" column="READ_COUNT" />
		<result property="commentCount" column="COMMENT_COUNT" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />

		<result property="memberNo" column="MEMBER_NO" />



		<!-- <collection property="imageList" select="selectImageList"
			column="BOARD_NO" javaType="java.util.ArrayList" ofType="BoardImage">
		</collection> -->

		<!-- <collection property="commentList"
			select="selectCommentList" column="BOARD_NO"
			javaType="java.util.ArrayList" ofType="Comment">
		</collection> -->
		
		<!-- <collection property="boardNo"
			select="selectboardInquiry" column="BOARD_NO"
			javaType="java.util.ArrayList" ofType="boardNo">
		</collection>
		 -->

	</resultMap>
	
	<!-- 있는 게시글 개수 다 가져오는 거-->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		WHERE BOARD_CODE =#{boardCode}
		AND BOARD_ST ='N' 
	</select>
	
	
	<select id="selectboardInquiry" resultMap="board_rm">
		SELECT 
		 BOARD_NO, BOARD_TITLE, MEMBER_NICKNAME, READ_COUNT, 
		 <![CDATA[
            CASE  
               WHEN SYSDATE - BOARD_DT < 1/24/60
               THEN FLOOR( (SYSDATE - BOARD_DT) * 24 * 60 * 60 ) || '초 전'
               WHEN SYSDATE - BOARD_DT < 1/24
               THEN FLOOR( (SYSDATE - BOARD_DT) * 24 * 60) || '분 전'
               WHEN SYSDATE - BOARD_DT < 1
               THEN FLOOR( (SYSDATE - BOARD_DT) * 24) || '시간 전'
               ELSE TO_CHAR(BOARD_DT, 'YYYY-MM-DD')
            END AS BOARD_DT
         ]]>
        FROM "BOARD"
        JOIN "MEMBER" USING(MEMBER_NO)
        WHERE BOARD_ST='N'
        AND BOARD_CODE
        =#{boardCode}
        ORDER BY BOARD_NO DESC
	</select>
	
</mapper>
