<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SmemberMapper">

	<resultMap type="SAccount" id="SAccount-rm">
	
		<result property="accountDate" column="ACNT_DATE" />
		<result property="accountMoney" column="ACNT_MN" />
		<result property="accountContent" column="ACNT_CONT" />
		<result property="category" column="ACNT_CATEGORY" />
		<result property="percent" column="PERCENT" />
		<result property="sumMoney" column="SUMMONEY" />
		
	
	</resultMap>
	
	<!-- 지출 금액 합계 -->
	<select id="changeMonth" resultType="_int">
		SELECT SUM(ACNT_MN) AS MONEY
		FROM "ACCOUNT_DETAIL"
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND INOUT_NM = '지출'
		AND ACNT_ST = 'N'
	</select>
	
	<!-- 지출 금액 합계 10-12월 -->
	<select id="changeMonthBigger" resultType="_int">
		SELECT SUM(ACNT_MN) AS MONEY
		FROM "ACCOUNT_DETAIL"
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		WHERE SUBSTR(ACNT_DATE, 6, 2) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND INOUT_NM = '지출'
		AND ACNT_ST = 'N'
	</select>
	
	<!-- 수입 금액 합계 -->
	<select id="changeMonthIncome" resultType="_int">
		SELECT SUM(ACNT_MN) AS MONEY
		FROM "ACCOUNT_DETAIL"
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND INOUT_NM = '수입'
		AND ACNT_ST = 'N'
	</select>
	
	<!-- 수입 금액 합계 10-12월 -->
	<select id="changeMonthIncomeBigger" resultType="_int">
		SELECT SUM(ACNT_MN) AS MONEY
		FROM "ACCOUNT_DETAIL"
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		WHERE SUBSTR(ACNT_DATE, 6, 2) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND INOUT_NM = '수입'
		AND ACNT_ST = 'N'
	</select>
	
	<!-- 지출 내역  -->
	<select id="selectAccount" resultMap="SAccount-rm">
		SELECT ACNT_DATE, ACNT_CONT, ACNT_MN, ACNT_CATEGORY 
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '지출'
		ORDER BY ACNT_DATE DESC
	</select>
	
	<!-- 지출 내역 10-12월 -->
	<select id="selectAccountBigger" resultMap="SAccount-rm">
		SELECT ACNT_DATE, ACNT_CONT, ACNT_MN, ACNT_CATEGORY 
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 6, 2) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '지출'
		ORDER BY ACNT_DATE DESC
	</select>
	
	<!-- 수입 내역  -->
	<select id="selectAccountIncome" resultMap="SAccount-rm">
		SELECT ACNT_DATE, ACNT_CONT, ACNT_MN, ACNT_CATEGORY 
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '수입'
		ORDER BY ACNT_DATE DESC
	</select>
	
	<!-- 수입 내역 10-12월 -->
	<select id="selectAccountIncomeBigger" resultMap="SAccount-rm">
		SELECT ACNT_DATE, ACNT_CONT, ACNT_MN, ACNT_CATEGORY 
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 6, 2) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '수입'
		ORDER BY ACNT_DATE DESC
	</select>
	
	<!-- 지출 그래프 -->
	<select id="selectChart" resultMap="SAccount-rm">
		
		SELECT ACNT_CATEGORY , SUM(ACNT_MN)AS SUMMONEY, ROUND(RATIO_TO_REPORT(SUM(ACNT_MN)) OVER()*100,1) AS PERCENT
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND MEMBER_NO = #{memberNo}
		AND ACNT_NO = #{accountNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '지출'
		GROUP BY ACNT_CATEGORY
		ORDER BY 2 DESC
	
	</select>
	
	<!-- 지출 그래프 -->
	<select id="selectChartBigger" resultMap="SAccount-rm">
		
		SELECT ACNT_CATEGORY , SUM(ACNT_MN)AS SUMMONEY, ROUND(RATIO_TO_REPORT(SUM(ACNT_MN)) OVER()*100,1) AS PERCENT
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 6, 2) = #{month})
		AND MEMBER_NO = #{memberNo}
		AND ACNT_NO = #{accountNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '지출'
		GROUP BY ACNT_CATEGORY
		ORDER BY 2 DESC
	
	</select>
	
	<!-- 수입 그래프  -->
	<select id="selectChartIncome" resultMap="SAccount-rm">
		
		SELECT ACNT_CATEGORY , SUM(ACNT_MN)AS SUMMONEY, ROUND(RATIO_TO_REPORT(SUM(ACNT_MN)) OVER()*100,1) AS PERCENT
			FROM ACCOUNT_DETAIL
			JOIN ACCOUNTBOOK USING(ACNT_NO)
			WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
			                    WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
			AND MEMBER_NO = #{memberNo}
			AND ACNT_NO = #{accountNo}
			AND ACNT_ST = 'N'
			AND INOUT_NM = '수입'
			GROUP BY ACNT_CATEGORY
			ORDER BY 2 DESC
	
	</select>
	
	<!-- 수입 그래프 10-12월 -->
	<select id="selectChartIncomeBigger" resultMap="SAccount-rm">
		
		SELECT ACNT_CATEGORY , SUM(ACNT_MN)AS SUMMONEY, ROUND(RATIO_TO_REPORT(SUM(ACNT_MN)) OVER()*100,1) AS PERCENT
			FROM ACCOUNT_DETAIL
			JOIN ACCOUNTBOOK USING(ACNT_NO)
			WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
			                    WHERE SUBSTR(ACNT_DATE, 6, 2) = #{month})
			AND MEMBER_NO = #{memberNo}
			AND ACNT_NO = #{accountNo}
			AND ACNT_ST = 'N'
			AND INOUT_NM = '수입'
			GROUP BY ACNT_CATEGORY
			ORDER BY 2 DESC
	
	</select>
	
	
	<!--카테고리명 조회 지출 내역  -->
	<select id="categoryName" resultMap="SAccount-rm">
		SELECT ACNT_DATE, ACNT_CONT, ACNT_MN, ACNT_CATEGORY 
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '지출'
		AND ACNT_CATEGORY = #{categoryName}
		ORDER BY ACNT_DATE DESC
	</select>
	
	
	
	
	
	
	
	
</mapper>
