<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SmemberMapper">

	<resultMap type="SAccount" id="SAccount-rm">
	
		<result property="accountDate" column="ACNT_DATE" />
		<result property="accountMoney" column="ACNT_MN" />
		<result property="accountContent" column="ACNT_CONT" />
		<result property="category" column="ACNT_CATEGORY" />
		<result property="percent" column="PERCENT" />
		
	
	</resultMap>
	
	
	<select id="changeMonth" resultType="_int">
		SELECT SUM(ACNT_MN) AS MONEY
		FROM "ACCOUNT_DETAIL"
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND ACNT_ST = 'N'
	</select>
	
	
	<select id="selectAccount" resultMap="SAccount-rm">
		SELECT ACNT_DATE, ACNT_CONT, ACNT_MN, ACNT_CATEGORY 
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND ACNT_NO = #{accountNo}
		AND MEMBER_NO = #{memberNo}
		AND ACNT_ST = 'N'
		
	</select>
	
	
	<select id="selectChart" resultMap="SAccount-rm">
		
		SELECT ACNT_CATEGORY , SUM(ACNT_MN)AS 합계, ROUND(RATIO_TO_REPORT(SUM(ACNT_MN)) OVER()*100,1) AS PERCENT
		FROM ACCOUNT_DETAIL
		JOIN ACCOUNTBOOK USING(ACNT_NO)
		WHERE ACNT_DATE IN (SELECT ACNT_DATE FROM "ACCOUNT_DETAIL" 
		                    WHERE SUBSTR(ACNT_DATE, 7, 1) = #{month})
		AND MEMBER_NO = #{memberNo}
		AND ACNT_NO = #{accountNo}
		AND ACNT_ST = 'N'
		AND INOUT_NM = '지출'
		GROUP BY ACNT_CATEGORY
		ORDER BY 합계 DESC
	
	</select>
	
	
	
	
	
	
	
	
	
	
</mapper>
