@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/moneymate/src/main/webapp/resources/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}


.accountBook-main{
    display: flex;
    width: 1200px;
    margin: auto;

    
}

.accountBook-main > section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    flex-basis: 60%;


    position: relative;
}

.accountBook-main > section:nth-of-type(2){
    display: flex;
    flex-basis: 40%;
}

/* 최상단 문구 */
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: 100px;
    width: 100%;
}

.intro{
    display: flex;
}

.intro > div:nth-of-type(1){
    display: flex;
    flex-basis: 60%;
}
.intro > div:nth-of-type(2){

    display: flex;
    flex-basis: 40%;

    background-color: rgb(190,205,236);
    font-size: 45px;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 100px;

    letter-spacing: 3px;
    line-height: 150px;
}






/* 최상단 이미지 */
.head-img > img{
    width: 100%;
    height: 800px;
}

/* 날짜 */
.date{
    display: flex;
    align-items: center;
    padding: 50px 0px;


    font-size: 29px;
    border-top: 1px solid #ccc;
}
/* 날짜 월 */
.date > div:nth-of-type(1){
    border: 3px solid black;
    border-radius: 10px;

    margin-right: 20px;
    padding: 10px;
}


/* 월 변경 페이지 */
.change-area{
    border: 1px solid black;
    background-color: beige;
    position: absolute;

    top: 130px;
    left: 10px;

    opacity: 0.9;

    width: 220px;

    display: none;

}

/* 월 변경 줄 */
.line{
    display: flex;
    font-size: 23px;
    border-bottom: 1px solid #acaaaacc;

    padding: 10px 0;

    justify-content: space-evenly;
}

/* 월 */
.line > div{
    padding: 5px 10px;
    display: flex;

    
}

.line-month{
    cursor: pointer;
}



/* 월 변경하기 */
#month-btn{
    height: 60px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: #ccc;

    cursor: pointer;

}

#month-btn:hover{
    border: 3px solid black;
}

#date-month{
    padding-right: 40px;
}

.span-one{
    margin: 0 10px;
    cursor: pointer;
}

/* 일 변경 */
.day-date{
    display: flex;
    margin-left: 10px;
    margin-bottom: 80px;
    
    
    font-size: 20px;
}

.day-date > input{
    margin-right: 20px;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 5px;
    border-color: rgb(88, 117, 221);
}

/* 일 변경하기 */
#day-btn{
    height: 35px;
    width: 90px;
    font-size: 17px;
    border-radius: 7px;
    border: 0;
    background-color: #ccc;

}
/* 화살표 */
.fa-solid{
    cursor: pointer;
}

/* 지출, 수입 버튼영역 */
.btn-area{
    display: flex;
    align-items: center;
    padding: 30px 0px;

    margin-top: 30px;
}

.btn-area button{
    width: 220px;
    height: 70px;
    font-size: 20px;

    
    color: white;
    border: 0;
    border-radius: 10px;
}

/* 지출 버튼 */
#spend{
    margin-right: 30px;
    cursor: pointer;
    background-color: #31c770;
}
/* 수입 버튼 */
#income{
    margin-right: 50px;
    cursor: pointer;
    background-color: #ccc;
}

/* 플러스 버튼 */
.fa-regular{
    cursor: pointer;
}

/* 차트, 내역 영역 */
.all-area{
    display: flex;

    margin-top: 145px;
}

/* 차트 영역 */
.chart{
    position: relative;
    display:inline-block;
    transition: 0.3s;


    padding-top: 100px;
    
    
  }

  /* 차트 div */
  .chart-div{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-right: 40px;

    height: 35%;
    width: 40%;

    

  }

  /* 지출 카테고리,퍼센트 영역 */
  .category-area{
    
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    padding-left: 10px;
    border-radius: 10px;

    background-color: rgb(228, 225, 225);

    width: 350px;
    height: 540px;
  }

  /* 지출 카테고리,퍼센트 영역 */
  .category-percent{
    width: 350px;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 7px;

    display: flex;
  }

/* 동그라미 */
.round{
margin-right: 10px;
margin-top: 3px;

width: 20px;
height: 20px;

border-radius: 50%;
}
/* 카테고리명 */
.categoryName{
margin-right: 10px;
cursor: pointer;
}
/* : */
.equal{
margin-right: 10px;
}

/* 금액 합계 */
.sumMoney{
    margin-left: 10px;

    color: rgb(49, 202, 49);
}



/* 차트 div2 */
.chart-div2{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-right: 40px;

    height: 35%;
    width: 40%;

  }


/* 수입 카테고리,퍼센트 영역 */
.Icategory-area{

    padding-left: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    padding-left: 10px;
    border-radius: 10px;

    background-color: rgb(228, 225, 225);

    width: 350px;
    height: 540px;
}
.categoryIncome-percent{
    width: 350px;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 7px;

    display: flex;
}

/* 동그라미 */
.Iround{
    margin-right: 10px;
    margin-top: 3px;
    
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
}
/* 카테고리명 */
.IcategoryName{
margin-right: 10px;
cursor: pointer;
}
/* : */
.Iequal{
margin-right: 10px;
}



.chart-shape{
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:100px; height:100px;
    border-radius: 50%;
    text-align:center; 
    line-height: 100px;
    font-size:25px;
     transform: translate(-50%, -50%);
  }

  .chart{
    animation: pie1 0.5s forwards;
  }

  @keyframes pie1{
    0%{background : conic-gradient(#ccc 0% 0%, #ffffff 0% 100%)}
    6%{background : conic-gradient(#ccc 0% 5%, #ffffff 0% 100%)}
    12%{background : conic-gradient(#ccc 0% 10%, #ffffff 0% 100%)}
    18%{background : conic-gradient(#ccc 0% 15%, #ffffff 0% 100%)}
    25%{background : conic-gradient(#ccc 0% 20%, #ffffff 0% 100%)}
    33%{background : conic-gradient(#ccc 0% 25%, #ffffff 0% 100%)}
    38%{background : conic-gradient(#ccc 0% 30%, #ffffff 0% 100%)}
    44%{background : conic-gradient(#ccc 0% 35%, #ffffff 0% 100%)}
    50%{background : conic-gradient(#ccc 0% 40%, #ffffff 0% 100%)}
    56%{background : conic-gradient(#ccc 0% 45%, #ffffff 0% 100%)}
    62%{background : conic-gradient(#ccc 0% 50%, #ffffff 0% 100%)}
    68%{background : conic-gradient(#ccc 0% 55%, #ffffff 0% 100%)}
    75%{background : conic-gradient(#ccc 0% 60%, #ffffff 0% 100%)}
    82%{background : conic-gradient(#ccc 0% 65%, #ffffff 0% 100%)}
    88%{background : conic-gradient(#ccc 0% 70%, #ffffff 0% 100%)}
    94%{background : conic-gradient(#ccc 0% 75%, #ffffff 0% 100%)}
    100%{background : conic-gradient(#ccc 0% 95%, #ffffff 80% 100%)}
  }

.all-area{
    position: relative;
}


/* 내역 */
.detail-area{

    display: flex;
    flex-direction: column;
    width: 90%;
    height: 700px;
    margin: 100px 10px auto auto;

    overflow: auto;
    border-radius: 10px;
}

/* 스크롤바 설정*/
.detail-area::-webkit-scrollbar{
    width: 12px;
}

/* 스크롤바 막대 */
.detail-area::-webkit-scrollbar-thumb {
    background: rgb(68, 137, 210); /* 스크롤바 막대 색상 */
    border: 2px solid white; /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}
/* 지출 내역 영역 */
.spend-line{
    display: flex;
    background-color: rgb(228, 225, 225);
}
/* 지출 전체보기 버튼 */
#allView-btn{
    display: none;

    width: 90px;
    height: 30px;

    border-radius: 5px;
    cursor: pointer;

    position: absolute;
    top: 60px;
    left: 330px;

}

.spend-line > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    flex-basis: 70%;

    
    font-size: 25px;
}

.spend-left > div:nth-of-type(1){
    display: flex;
    flex-basis: 40%;

    padding: 10px 10px;
    font-size: 25px;

}
.spend-left > div:nth-of-type(2){
    display: flex;
    flex-basis: 40%;

    padding: 10px 10px;
    font-size: 25px;
}
.spend-left > div:nth-of-type(3){
    display: flex;
    flex-basis: 20%;

    padding: 10px 10px;
    font-size: 15px;

}

.spend-line > div:nth-of-type(2){
    display: flex;
    flex-basis: 30%;

    justify-content: center;
    align-items: center;

}

/* 수입 내역 영역 */
.income-line{
    display: flex;
    background-color: rgb(228, 225, 225);
}

.income-line > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    flex-basis: 70%;

    
    font-size: 25px;
}

.income-left > div:nth-of-type(1){
    display: flex;
    flex-basis: 40%;

    padding: 10px 10px;
    font-size: 25px;

}
.income-left > div:nth-of-type(2){
    display: flex;
    flex-basis: 40%;

    padding: 10px 10px;
    font-size: 25px;
}
.income-left > div:nth-of-type(3){
    display: flex;
    flex-basis: 20%;

    padding: 10px 10px;
    font-size: 15px;

}

.income-line > div:nth-of-type(2){
    display: flex;
    flex-basis: 30%;

    justify-content: center;
    align-items: center;


}
