@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/src/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}



.adver1{
    position: fixed;
    top: 200px;
    width: 400px;
    height: 300px;
}

.carousel-inner > div{
    width: 400px;
    height: 300px;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}

.subGo{
    background-color: white;
    text-align: center;
    font-size: 20px;
    border: 3px solid rgb(201, 198, 198);
    border-radius: 20px;
}

.subGo > a{
    text-decoration: none;
    color: blue;
}
.subGo > a:hover{
    color: skyblue;
}


/* 가계부 썸네임 */
.accBk-thumbnail{
    width: 100%;
    margin-top: 30px;
    height: 600px;
}
/* 가계부 수입, 지출, 계산기 부분 */
.accBk-container{
    width: 1200px;
    margin: auto;
    display: flex;
}

/* 가계부 수입, 지출 기록 컨테이너 */
.accBk-top{
    width: 50%;
    height: 600px;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    padding: 20px;

    padding-left: 0;
}
/* 가계부 계산기 부분 */
.accBk-cal{
    width: 50%;
    height: 600px;
}

/* 가계부 전체 padding */
.accBk-record > div{
    padding-bottom: 20px;
}

/* 가계부 이미지 스타일 */
.accBk-thumbnail > img{
    width: 100%;
    height: 100%;
}

/* 제목 */
.accBk-top > div{
    width: 545px;
    font-size: 28px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(201, 194, 194);
    padding-bottom: 15px;
}

.accBk-top i{
    margin-right: 15px;
}


/* 가계부 금액 적는 부분 스타일 */
.accBk-record > div:nth-child(1){
    width: 350px;
    height: 50px;
    display: flex;
}
.accBk-record > div:nth-child(1)>input{
    width: 90%;
    height: 40px;

    font-size: 16px;
    padding-left: 8px;
}

.accBk-record > div:nth-child(1)>h2{
    margin-top: 9px;
    margin-left: 8px;
}

/* 가계부 지출, 수입, 이체 버튼 */
.accBk-record > div:nth-child(2) > input{
    width: 109px;
    height: 40px;
    font-size: 17px;
    border: 0;

    color: white;

    background: rgb(70, 187, 233);
    background: linear-gradient(0deg, rgb(84, 198, 243) 0%, rgb(31, 137, 243) 100%);
    cursor: pointer;
    transition: all 0.3s ease;

    text-align: center;

}

.inputCategoryName{
    border: 0;
    background-color: white;
    font-size: 20px;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

.accBk-category-table input{

    width: 110px;
    height: 70px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(161, 216, 238);
    border: 2px solid rgb(116, 200, 233);
    cursor: pointer;
    
}
.accBk-category-table input:hover{
    background-color: white;
    color: rgb(161, 216, 238);
    border: 2px solid rgb(116, 200, 233);
}



/* 가계부 상세 정보 입력 */
/* .accBk-record table{
    width: 500px;
    height: 350px;
    border-collapse : collapse;
    background-color: white;


    box-shadow: 2px 1px 3px 1px #cfcfce;
    border: 0;

}
.accBk-record td, th{
    padding-left: 5px;
    border: 0;
}
.accBk-record th{
    background-color: #f2f558;
} */


/* 카테고리 버튼 */
/* .accBk-record table button{
    height: 20px;
    border: 0;
    background-color: white;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.accBk-record table input{
    width: 300px;
    height: 30px;
}

.category{
    width: 400px;
    display: flex;
    justify-content: start;
    height: 310px;
    background-color: pink;
} */

/* 가계부 상세 입력 */
.accBk-record-category{
    width: 500px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ddd;
    padding: 25px;
}
.accBk-record-category > div:nth-child(1){
    display: flex;
    font-size: 21px;
    margin-bottom: 35px;
}
.accBk-record-category > div:nth-child(3){
    display: flex;
    font-size: 21px;
    margin-bottom: 35px;
}



.accBk-record-category > div:nth-child(4){
    display: flex;
    font-size: 21px;
    margin-bottom: 35px;
}
.accBk-record-category > div:nth-child(5){
    display: flex;
    font-size: 21px;
    margin-bottom: 35px;
}
.accBk-record-category > div:nth-child(6){
    display: flex;
    font-size: 21px;
}

/* 카테고리 스타일 */
.accBk-record-category > div:first-child>div:nth-child(2){
    margin-left: 40px;
    cursor: pointer;
    font-size: 20px;
}

.accBk-record-category > div:nth-child(3)>div:last-child{
    margin-left: 40px;
}
.accBk-record-category > div:nth-child(4)>div:last-child{
    margin-left: 40px;
}

.accBk-record-category > div:nth-child(5)>div:last-child{
    margin-left: 76px;
}

.accBk-record-category > div:nth-child(6)>div:last-child{
    margin-left: 76px;
}

/* 상세보기 제목들 스타일주기 */
.accBk-record-category > div:first-child > div:first-child{
    font-weight: bold;

}
.accBk-record-category > div:nth-child(3) > div:first-child{
    font-weight: bold;

}
.accBk-record-category > div:nth-child(4) > div:first-child{
    font-weight: bold;

}
.accBk-record-category > div:nth-child(5) > div:first-child{
    font-weight: bold;

}
.accBk-record-category > div:nth-child(6) > div:first-child{
    font-weight: bold;

}
/* 상세설정 input 창 스타일 */
.accBk-record-category > div > input{
    width: 300px;
    height: 30px;
    font-size: 20px;
}
/* 상세설정 select 스타일 */
.accBk-record-category > div select{
    width: 140px;
    height: 30px;
}

/* 카테고리 숨은 박스 스타일 */
.accBk-category-table{
    display: none;
    flex-direction: column;
    
}

.hiddenCate{
    width: 200px;
    display: flex;
    height: 30px;
}

/* span 태그 스타일 */
.inputCategoryName{
    color: rgb(14, 146, 9);
    font-size: 23px;
    font-weight: bold;
    margin-top: -1px;
    width: 60%;
}

#cateChBtn{

    width: 100px;
    height: 40PX;
    border-radius: 30px;
    font-size: 18px;

    background-color: rgb(109, 112, 109);
    border: 0;
    color: white;

}
#cateChBtn:hover{
    cursor: pointer;
    background-color: white;
    border: 3px solid rgb(109, 112, 109);
    color: rgb(109, 112, 109);
}

/* 카테고리  */
.accBk-category-table > div{
    display: flex;
    height: 80px;
    border-bottom: 0;
    border-right: 0;
    
    text-align: center;
    
}



.accBk-category-table > div > div{
    width: 100%;
    height: 80px;
    font-size: 22px;
    border-top: 2px solid rgb(162, 200, 218);
    border-right: 2px solid rgb(181, 215, 228);
    border-left: 3px solid rgb(164, 209, 228);
    border-bottom: 3px solid rgb(183, 218, 231);
    
    background-color: rgb(193, 230, 247);
    
    padding-top: 20px;
    
    cursor: pointer;
}
.accBk-category-table > div:last-child > div{
    padding-top: 20px;
    height: 60px;
}
.accBk-category-table > div > div:hover{
    background-color: white;
    transition-duration: 0.2s;
}





/* 제출하기 버튼 */
.accBk-record > div:last-child > button{
    width: 200px;
    height: 40px;
    font-size: 20px;

    cursor: pointer;

    margin-top: 30px;

}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 1px 3px 0 rgba(49, 196, 190, 0.75);
}


/* ***************************************** */
/* 계산기 */
.accBk-cal {
    height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;

    margin-top: 70px;

}
.calculator {
    background-color: skyblue;
    width: 370px;
    height: 500px;
    padding: 10px 20px;

    box-shadow: 0px 2px 5px 3px rgb(146, 185, 218);
}
.calculator__display--for-advanced {
    background-color: rgb(247, 246, 246);
    height: 100px;
    width: 93%;
    border-radius: 10px;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    padding: 25px 15px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.calculator__buttons {
    background-color: #ffffff;
    width: 95%;
    height: 320px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}
.clear__and__enter {
    text-align: center;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}
.clear__and__enter > button {
    border-radius: 10px;
    width: 125px;
    height: 50px;
    margin: 0px 0px;

    font-size: 18px;
    background-color: skyblue; 
    cursor: pointer;
    outline: none;
    border: 0px solid #30bb98;
}
.clear__and__enter > button:hover{
    background-color: white;
    border: 3px solid skyblue;
}

.button__row {
    border-radius: 10px;
    text-align: center;
    height: 50px;
    margin: 10px;
    background-color: #ffffff;
}
.button__row > button {
    width: 60px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background-color: #eeecec;

    font-size: 15px;

    border: 2px solid rgb(194, 189, 189);
}
.button__row > button:hover{
    color: white;
}

.button__row > .operator {
    color: #ffffff;
    background-color: #505052;
    border: 0;
}
.button__row > .double {
    width: 125px;
}
.button__row > .isPressed {
    background-color: #00da75;
}

/* ******************************************** */

/* 가계부 마일리지 컨테이너 스타일 */
.accMileage-container{
    width: 1200px;
    margin: auto;
    display: flex;

    border-top: 2px solid rgb(201, 194, 194);

    margin-top: 80px;

}

/* 가계부 목표 금액 설정 */
.accMileage-left{
    width: 35%;
    height: 800px;

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    
    padding: 20px;
    padding-left: 0;
}

/* 마일리지 컨테이너 왼쪽 부분 전체 스타일 */
.accMileage-left > div{
    margin-bottom: 30px;
}
/* 기간 관련 스타일 */
.accMileage-left > div:first-child{
    display: flex;
}

/* 기간 스타일 */
.accMileage-left > div:first-child>div:nth-child(2){
    font-size: 30px;
    margin-top: -18px;
}
/* 날짜 아이콘 */
.accMileage-left > div:first-child> i{
    margin-right: 17px;

    font-size: 35px;
}

/* 기간 선택 스타일 */
.accMileage-container > div:nth-child(2){
    width: 15%;

    margin-left: -15px;
    margin-top: 35px;
}



.accDate{
    width: 400px;
    height: 55px;
}
/* 기간선택 버튼 */
.accDateRecordBtn{
    margin-top: -15px;
    height: 40px;
    width: 100px;

    background-color: white;
    color: skyblue;
    border: 3px solid skyblue;
    font-weight: bold;
}
.accDateRecordBtn:hover{
    background-color: skyblue;
    color: white;
    cursor: pointer;
}

/* 숨어져있는 날짜 선택 창 */
.accDateRecord{
    width: 150px;

    height: 130px;

    border: 4px solid skyblue;

    display: none;

    padding: 20px;

    margin-top: 25px;

}
.accDateRecord > input{
    margin-bottom: 20px;

    height: 30px;

    cursor: pointer;
}

#accDateChange{
    background-color: skyblue;
    border: 0;
    color: white;
    padding: 5px;

    width: 80px;
    height: 30px;

    cursor: pointer;
}
#accDateChange:hover{
    background-color: white;
    color: skyblue;
    font-weight: bold;
    border: 2px solid skyblue;
}




/* 한달 목표 예산 설정 스타일 */
.accMileage-left > div:nth-child(2)>div:first-child{
    width: 400px;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 7px;

}
.accMileage-left > div:nth-child(2)>div:last-child{
    font-size: 23px;
    display: flex;
    flex-direction: row;
}

.accMileage-left > div:nth-child(2)>div:last-child>div:last-child{
    margin-left: 5px;
}


/* 사용금액 스타일 */
.accMileage-left > div:nth-child(3){
    font-size: 22px;
}

.accMileage-left > div:nth-child(3)>div:first-child{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 7px;
}
.accMileage-left > div:nth-child(3)>div:last-child{
    display: flex;
}
.accMileage-left > div:nth-child(3)>div:last-child>div:last-child{
   margin-left: 5px;
}


.accTarget-container{
    width: 350px;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: start;
    
}

/* 목표 설정 버튼 */
.accTargetBtn{
    width: 300px;
    height: 30px;
    /* background: linear-gradient(0deg, #a1f5c4 0%, #28da9e 100%); */
    background-color: white;
    font-size: 25px;
    border: 0;
    margin-bottom: 8px;
    display: flex;

}
/* 톱니바퀴 */
.accTargetBtn> i{
    
    margin-right: 17px;
    margin-top: 18px;

    color: #b4adad;
}


/* 목표설정 숨겨진 창 */
.accTarget-container > div{
    margin-top: 20px;
    width: 340px;
    height: 50px;

    display: none;

    padding: 20px;

}

.accTarget-container > div > input{
    width: 200px;
    height: 35px;
}

.accTarget > button{
    width: 60px;
    height: 35px;
    margin-left: 28px;

    border: 0;
    background-color: #25aae1;
    color: white;
    font-size: 16px;
}

.accTarget > button:hover{
    background-color: white;
    color: #25aae1;
    border: 2px solid #25aae1;
}

.accMileage-left button:hover{

    cursor: pointer;
}

/* 프로그래스 바 스타일 */
progress {
    width: 400px;
    height: 70px;

    -webkit-appearance: none;
    appearance: none;
    margin-top: 12px;
    margin-bottom: 50px;
}
progress::-webkit-progress-bar {
    background-color: rgb(255, 255, 255);
    border-radius: 60px;

    border: 1px solid #c0c0c0;

    box-shadow: 2px 2px 4px 2px #ddd;

}
progress::-webkit-progress-value {
    border-radius: 60px;
    background-image: linear-gradient(to right, #ec1911, 
    #f87620, #faf606, #7bff0f, #05fd6c, #1199d8, #2b60f1, #9a0bfa);
    box-shadow: 1px 2px 3px 1px rgba(12, 109, 106, 0.75);

 }


/* 마일리지 오른쪽 컨테이너 스타일 */
.accMileage-right{
    width: 48%;
    height: 600px;

    margin-top: 50px;

    margin-left: 20px;

    display: flex;
    flex-direction: column;

    
}

/* 마일리지 썸네일 스타일 */
.accMileage-right > div:first-of-type{
    display: flex;
    justify-content: end;

}

.accMileage-right img{
    width: 80%;
    height: 340px;
}

/* 나의 마일리지 찾으러 가기 버튼 스타일 */
.accMileage-right > div:last-child{
    display: flex;
    justify-content: end;

    width: 100%;
}
.accMileage-right button{
    width: 80%;
    height: 60px;
    margin-top: 20px;
    font-size: 17px;
    background: rgb(70, 187, 233);
    background: linear-gradient(0deg, rgb(84, 198, 243) 0%, rgb(31, 137, 243) 100%);
    border: 0;
    color: white;
}
.accMileage-right button:hover{

    cursor: pointer;
}


.accBkResult2 input{
    width: 270px;
    height: 30px;
}

.accBkResult4 input{
    width: 140px;
    height: 27px;
}
.accBkResult5 input{
    width: 270px;
    height: 30px;
}



/* 날짜창 스타일 */