/* board 사이드 메뉴 전체 크기 */
.board-notice-content{
    width: 1200px;
    height: 850px;
    margin: 30px auto;
    display: flex;

}

/* 사이드바, 보드 메인 넓이 정하기 */

.board-sidemenu{
    width: 25%;
    display: flex;
    flex-direction: column;

    border-right: 1px solid rgb(161, 194, 221);

}

.board-notice-main{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* 사이드바 커뮤니티 문구 스타일 */
.board-sidemenu > div:first-child{

    width: 99%;
    height: 100px;
    background-color: rgb(12,64,202);

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 5px;

    font-size: 20px;

    border-bottom: 2px solid rgb(12,64,202);

}

/* 사이드바 커뮤니티 글씨 */

.board-community-header > div:first-child{
    font-size: 25px;
}

.board-community-header > div:last-child{
    color: yellow;
    font-weight: bold;
}

/* 사이드바 게시판 스타일 */
.board-sidemenu-list{
    width: 100%;
    padding: 0 20px 0 0;
        /* 상 우 하 좌 */
    margin: 0;
}

.board-sidemenu-list > li{
    list-style: none;
    height: 60px;
    font-size: 18px;

    border-bottom: 2px solid rgb(161, 194, 221);

    display: flex;

    padding-left: 5px;

    
}

.board-sidemenu-list > li > a{
    text-decoration: 0;
    color: black;
    height: 100%;

    display: flex;
    align-items: center;

    width: 93%;

    justify-content: space-between;

}

.board-sidemenu-list > li:hover{
    background-color: #ddd;
    cursor: pointer;
}

/* 보드 게시판 메인 스타일 */

/* 게시판 이름 구역 스타일 */
.board-notice-name{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 23px;
    font-weight: bold;

    background-color: rgb(220, 241, 248);


    border-top: 2px solid rgb(161, 194, 221);

    border-bottom: 5px solid rgb(161, 194, 221);
}



 
