/* 공지사항 글제목, 검색창 스타일 */
.board-notice-sel-search{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: end;
    align-items: end;
}
/* 글제목, 작성자 셀렉트 */
.board-notice-sel-search select{
    width: 120px;
    height: 40px;
    margin-right: 5px;

    margin-top: 100px;
}
/* 검색창 */
#board-notice-search{
    width: 200px;
    height: 28px;

    padding: 5px;
    font-size: 15px;

}
/* 공지사항 목록 스타일 */
.board-notice-list{
    width: 98%;
    height: 400px;

    margin-left: 20px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.board-sidemenu-list i{
    color: rgb(12,64,202);
}


.board-notice-list > table{
    width: 100%;
    border : 1px solid rgb(156, 154, 154);
    border-collapse : collapse;
}

.board-notice-list-header{
    background-color: #ddddddbb;
    color: black;
}

.board-notice-list tr, td, th{
    border: 0;
}

.board-notice-list tr{
    border-bottom: 1px solid gray;
}

.board-notice-list tr:first-child{
    font-weight: bold;
}

.board-notice-list tr > td:hover{
    cursor: pointer;
    color: rgb(12,64,202);
}

/* 글쓰기 버튼 */
.board-notice-wrtie-btn{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.board-notice-wrtie-btn > button{
    width: 130px;
    height: 45px;

    font-size: 18px;
    font-weight: bold;

    border: 2px solid rgb(12,64,202);
    background-color: white;
    color: rgb(12,64,202);

    cursor: pointer;

}

.board-notice-wrtie-btn > button:hover{
    background-color: rgb(12,64,202);
    color: white;
    border: 1px solid white;
}



/* ****************************************** */
/* 공지사항 상세 페이지 스타일 */
.board-notice-detail-container{

    width: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 70px;
    align-items: center;

    margin-left: 10px;

}
/* 게시글 작성자, 작성일, 조회수 스타일 */
.board-notice-detail-container > div{
    width: 92%;
    height: 55px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ddd;
}
/* 게시글 제목 */
.board-notice-detail-container > div:first-child{
    background-color: rgba(184, 177, 177, 0.932);
    display: flex;
    justify-content: center;

    font-size: 20px;
}
/* 게시글 작성 부분 */
#board-notice-content{
    width: 91%;
    height: 380px;

    resize: none;
    border: 1px solid gray;

    font-size: 18px;

    margin-top: 5px;

}
/* 목록으로 버튼 */
.board-notice-detail-container>div:last-child{
    display: flex;
    justify-content: end;

    border: 0;
}
.board-notice-detail-container button{
    width: 120px;
    height: 40px;
    font-size: 17px;

    background-color: white;
    color: rgb(12,64,202);
    border: 1px solid rgb(12,64,202);
    font-weight: bold;

    margin-top: 50px;

}
.board-notice-detail-container button:hover{
    background-color: rgb(12,64,202);
    color: white;
    cursor: pointer;
}

/* *********************************************************** */
/* 공지사항 게시글 작성하기 */
.board-notice-write-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    padding-top: 100px;
    align-items: center;

    margin-left: 10px;

}
.board-notice-write-container > *{
    width: 92%;
    display: flex;
    align-items: center;

}

/* 제목 */
#board-notice-title{
    height: 60px;
    font-size: 22px;
    border-radius: 15px;
}

/* 내용 */
#board-notice-write-content{
    height: 300px;
    padding-top: 20px;
    font-size: 22px;

    resize: none;

    border-radius: 15px;

}

/* 이전으로, 등록 버튼 컨테이너 */
.board-notice-write-container > div:last-child{
    width: 93%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    
}

.board-notice-write-container button{

    width: 120px;
    height: 40px;
    font-size: 17px;

    background-color: white;
    color: rgb(12,64,202);
    border: 1px solid rgb(12,64,202);
    font-weight: bold;

    margin-top: 50px;

}

.board-notice-write-container button:hover{

    background-color: rgb(12,64,202);
    color: white;
    cursor: pointer;
}