.columnMain{
    display: flex;
    width: 100%;
    height: 2000px;
    margin-top: 20px;
}

/* 사이드바 */
.side{
    display: flex;
    width: 25%;
    border: 1px solid black;
}

/* 메인 */
.main{
    display: flex;
    flex-direction: column;
    width: 75%;
}

/* 칼럼 설명란 */
.explain{
    display: flex;
    height: 700px;
}

/* 사진 */
.explain > div:nth-of-type(1){
    display: flex;
    flex-basis: 60%;
    margin-bottom: 30px;
}

.explain img{
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 15px;
}

/* 설명 */
.explain > div:nth-of-type(2){
    display: flex;
    flex-basis: 40%;
}

/* 설명 - 글 */
.ex-title{
    display: flex;
    flex-direction: column;
}

/* 제목 */
.ex-title > div:nth-of-type(1){
    display: flex;
    
    flex-basis: 10%;
    font-size: 30px;
    font-weight: bold;
    justify-content: start;
    align-items: center;
    margin-top: 60px;
}
/* 글 */
.ex-title > div:nth-of-type(2){
    display: flex;
    flex-basis: 90%;
    line-height: 40px;
    font-size: 15px;
    margin: 0 50px 0 0;
}

/* 컬럼게시판 */
.title{
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 60px;
    padding-left: 80px;
    font-size: 25px;
    /* border-bottom: 1px solid rgb(12,64,202); */
    background-color: rgb(12,64,202);
    color: white;
}

/* 컬럼 목록 */
.column-list{
    display: flex;
    flex-direction: column;
    height: 1100px;
}

/* 컬럼목록 1번째줄 */
.column-list > div:nth-of-type(1){
    display: flex;
    flex-basis: 33.3%;
}
/* 1번째줄 첫번째 */
.one > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.one-1 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.one-1 > div:nth-of-type(1) > a{
    margin: auto;
}

.one-1 a{
    text-decoration: none;
    color: black;
}

.one-1 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.one-1 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
    font-size: 15px;
}






/* 1번째줄 두번째 */
.one > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.one-2 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.one-2 > div:nth-of-type(1) > a{
    margin: auto;
}

.one-2 a{
    text-decoration: none;
    color: black;
}

.one-2 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.one-2 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}

/* 1번째줄 세번째 */
.one > div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.one-3 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.one-3 > div:nth-of-type(1) > a{
    margin: auto;
}

.one-3 a{
    text-decoration: none;
    color: black;
}

.one-3 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.one-3 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}

/* 컬럼목록 2번째줄 */
.column-list > div:nth-of-type(2){
    flex-basis: 33.3%;
    display: flex;
}
/* 2번째줄 첫번째 */
.two > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.two-1 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.two-1 > div:nth-of-type(1) > a{
    margin: auto;
}

.two-1 a{
    text-decoration: none;
    color: black;
}

.two-1 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.two-1 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}

/* 2번째줄 두번째 */
.two > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.two-2 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.two-2 > div:nth-of-type(1) > a{
    margin: auto;
}

.two-2 a{
    text-decoration: none;
    color: black;
}

.two-2 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.two-2 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}

/* 2번째줄 세번째 */
.two > div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.two-3 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.two-3 > div:nth-of-type(1) > a{
    margin: auto;
}

.two-3 a{
    text-decoration: none;
    color: black;
}

.two-3 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.two-3 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}






/* 컬럼목록 3번째줄 */
.column-list > div:nth-of-type(3){
    flex-basis: 33.3%;
    display: flex;
}
/* 3번째줄 첫번째 */
.three > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.three-1 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.three-1 > div:nth-of-type(1) > a{
    margin: auto;
}

.three-1 a{
    text-decoration: none;
    color: black;
}

.three-1 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.three-1 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}

/* 3번째줄 두번째 */
.three > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.three-2 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.three-2 > div:nth-of-type(1) > a{
    margin: auto;
}

.three-2 a{
    text-decoration: none;
    color: black;
}

.three-2 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.three-2 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}

/* 3번째줄 세번째 */
.three > div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
}

/* 사진 칸 */
.three-3 > div:nth-of-type(1){
    display: flex;
    flex-basis: 80%;
    margin: 10px auto;
}

.three-3 > div:nth-of-type(1) > a{
    margin: auto;
}

.three-3 a{
    text-decoration: none;
    color: black;
}

.three-3 img{
    display: flex;
    width: 330px;
    height: 260px;
    border-radius: 15px;
}

/* 제목 */
.three-3 > div:nth-of-type(2){
    display: flex;
    flex-basis: 20%;
    align-items: center;
    padding-left: 70px;
}

/* 페이지네이션 */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    list-style: none;
}

.pagination > li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    width: 100%;
    height: 100%;
    display: block;
    letter-spacing: -2px;
    text-decoration: none;

}

.current{
    background-color: rgb(12,64,202);
    color: white;
}
