@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/moneymate/src/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
    font-family: 'SDGothic', serif;
}

.board-free-main{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 25px 50px;
}

.board-name{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.like-area{
    margin-right: 10px;
    cursor: pointer;
}

.board-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

.board-head1{
    display: flex;
    align-items: center;
    width: 80%;
    font-size: larger;
}

.board-head1 > span{
    margin-left: 30px;
}

.board-head1 > i{
    margin-right: 10px;
}

.board-head1 > img {
    height: 50px
}

.board-head2{
    padding-right: 30px;
    width: 40%;
    line-height: 50%;
}

.hr{
    border: 1px solid #ddd;
}

.img-box{
    display: flex;
    justify-content: space-between;
}

.boardImg{
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-top: 10px;
}

.boardImg > img {
    width: 20%;
}

.board-content{
    padding: 10px 0;
}


.btn-area{
    text-align: end;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.btn-area > button {
    border: 0;
    background-color: rgb(12, 64, 202);
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.comment-area{
    margin: 30px 0;
    width: 100%;
}


#comment-list{
    list-style: none;
    display: flex;
    align-items: center;
}

.commentWriter{
    display: flex;
    width: 20%;
    
}


#comment-content{
    width: 60%;
}

.commentWriter > img{
    height: 50px;
    margin-right: 10px;
}



.comment-write-area{
    display: flex;
    min-height: 70px;
    justify-content: center;
    
    margin: 30px 0;
}

.comment-write-area > textarea{
    resize: none;
    flex-basis: 80%;
}

.comment-write-area > button{
    flex-basis: 10%;
    height: 70px;
    cursor: pointer;
    border: 0;
    background-color: rgb(12, 64, 202);
    color: white;
    font-weight: bold;
}

.commentWriter{
    display: flex;
    align-items: center;
}

.btn-area2{
    padding-top: 40px;
}

.createDate {
    font-size: 12px;
    margin: 10px 0;
}


.boardImg a {
    text-decoration: none;
    color: black;
}

