@font-face { /* 애플산돌고딕 폰트 적용 */
    font-family: "SDGothic";
    src: url("/src/fonts/AppleSDGothicNeoSB.ttf") format("truetype");
    font-weight: normal;
  }

* {
font-family: 'SDGothic', serif;
}


.board-free-main{
    width: 80%;
    padding: 20px;
}

.subject {
    font-size: 30px;
    font-weight: bold;
    /* border-bottom: 2px solid #ddd; */
    padding: 10px;
}

.board-write {
    width: 100%;
    min-height: 700px;
    border:  1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
}

.board-title{
    margin : 0;
    padding: 20px 0;
    border-bottom : 3px solid #ccc;
} 

.board-title > input{
    width: 100%;
    border: 0;
    outline: 0;
    
    font-size: 24px;
}

.img-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


/* 이미지를 감싸는 div */
.boardImg{
    width: 180px;
    height: 230px;
    display: inline-block;
    text-align: center;

    position: relative;
}

.boardImg > label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.inputImage{
    display: none;
}


/* 이미지 */
.boardImg img{
    max-width: 100%;
    max-height: 100%;
}


.board-content{
    padding: 30px 0;
    margin: 30px 0 0;
    /* border-top : 3px solid #ccc; */
    /* border-bottom : 3px solid #ccc; */
    font-size: 18px;
}

.boardContent{
    width: 100%;
    height: 400px;
    resize: none;
    font-size: 1.1em;
}

.board-btn-area{
    text-align: right;
}

#writebtn{
    border: 0;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(12, 64, 202);
    border-radius: 10px;
    font-weight: bold;
    color: white;
}




.delete-image{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


#updateBtn{

    /* background:#007bff; */

    background:rgb(12, 64, 202);
    border-radius: 5px;
    width: 130px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
}


